body {
    font-family: "Baloo Bhai 2", cursive;
    margin: 0px;
    padding: 0px;
    background: url("https://cdn.pixabay.com/photo/2017/05/25/15/08/jogging-2343558_960_720.jpg");
    /* height: 4000px; */
  }
  .left {
    border: 2px solid rgb(151, 226, 236);
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 10px;
    color: white;
  }
  .mid {
    border: 2px solid rgb(135, 229, 155);
    width: 38%;
    margin: 1px auto;
    color: white;
  }
  .right {
    border: 2px solid rgb(235, 147, 147);
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 10px;
    color: aliceblue;
  }
  .navbar,
  li {
    display: inline-block;
    font-size: 19px;
  }
  .navbar,
  li,
  a {
    color: white;
    text-decoration: none;
    padding: 1px 6px;
  }
  .navbar li a:hover,
  .navbar li a.active {
    text-decoration: underline;
    color: rgb(79, 79, 139);
  }
  .left img {
    width: 80px;
  }
  .left div {
    text-align: center;
  }
  .btn {
    border: 2px solid rgb(135, 223, 172);
    border-radius: 10px;
    padding: 1px 10px;
    margin: 6px 6px;
    font-size: 18px;
    cursor: grab;
    font-family: "Baloo Bhai 2", cursive;
  }
  .btn:hover {
    background-color: rgb(202, 200, 180);
  }